{% extends "base.html" %}

{% block title %}{{ application_name }}{% endblock %}

{% block head %}
  <script type="text/javascript">
    var removeUser = function(userID) {
        if (!confirm('Tem certeza de que deseja remover o usuario ' + userID + '?'))
            return
        dojo.byId(userID+"-actionButton").setAttribute("disabled", "disabled");
        dojo.byId(userID+"-eventResponse").innerHTML = "<img src=\"/static/images/time.png\"> Removendo";        
        var userNode = dojo.byId(userID);
        var onLoad = function(resp) {
          if (resp) {
              dojo.byId(userID+"-eventResponse").innerHTML = "<img src=\"/static/images/exclamation.png\"> " + resp;
              dojo.byId(userID+"-actionButton").removeAttribute("disabled");          
          } else {            
              var anim = dojo.fadeOut({node: userNode, duration: 1000});
              var removeNode = function() {
                userNode.parentNode.removeChild(userNode);
              }
              dojo.connect(anim, "onEnd", removeNode);
              anim.play();
          }
        }
        var contents = {};
        contents['action'] = 'removeUser';
        contents['userID'] = userID;
        
        console.log(contents);
        dojo.xhrPost({ url: "/admin", content: contents, load: onLoad });
    }
    
    var onSaveClicked = function(userID) {
        dojo.byId(userID+"-eventResponse").innerHTML = "<img src=\"/static/images/time.png\"> Atualizando";
        var onLoad = function(resp, args) {
            dojo.byId(userID+"-eventResponse").innerHTML = "Salvado";
        }
        var formNode = dojo.byId(userID + "-form")
        dojo.xhrPost({ url: "/admin",
                       form: dojo.byId(userID + "-form"),
                       load: function(data) {
                          form = dojo.byId(userID + '-innerForm');
                          form.innerHTML = data;
                          status = dojo.query("[id='status']", form)[0].innerHTML;
                          if (status == "ok") {
                              dojo.byId(userID+"-eventResponse").innerHTML = "<img src=\"/static/images/accept.png\"> Atualizado";
                          } else {
                              dojo.byId(userID+"-eventResponse").innerHTML = "<img src=\"/static/images/exclamation.png\"> " + status;
                          };
                       } });
    }
      
  </script>
{% endblock %}

{% block body %}

  <h1>Administração</h1>
  
  <h2>Usuários</h2>
  {% for membro in membros %}
    <div id="{{ membro.userid }}" class="box rectbox">
        <h2><img src="/static/images/user.png"> {{ membro.membro.user }}</h2>
        <h4>{{ membro.userid }}</h4>
        {% if membro.allow_edit %}
            <form method="POST" id="{{ membro.userid }}-form">
                <div id="{{ membro.userid }}-innerForm">
                {{ membro.form }}
                </div>
                <input type="hidden" name="action" value="editarUsuario">
                <input type="hidden" name="userID" value="{{ membro.userid }}">
            </form>
            <p><a href="{{ membro.view_url }}">
                <img src="/static/images/time_go.png"> Ver Horários
            </a></p>
            <button id="{{ membro.userid }}-actionButton" onclick='removeUser("{{ membro.userid }}");'  >
                Remover usuário
            </button>
            <button onClick='onSaveClicked("{{ membro.userid }}");'>
                Salvar
            </button>
            <p id="{{ membro.userid }}-eventResponse"></p>            
        {% else %}
            <p>Nome: {{ membro.membro.nome }}</p>
            <p>Gestão: {{ membro.membro.group }}</p>
            <p>Coordenador: {{ membro.membro.coordenador|yesno:"Sim,Não"}}</p>
        {% endif %}
        
    </div>
  {% endfor %}
{% endblock %}
