{% extends "base.html" %}

{% block title %}{{ application_name }}{% endblock %}

{% block head %}
    <link href="/static/css/table.css" rel="stylesheet" type="text/css"/ >
    <script type="text/javascript">
        var saveInterval = 5000;
        var autoSave = true;
        var modified = false;
        var timer = null;

        var timerTick = function () {
            //setEvento("Modificado: " + modified);
            if (modified) {
                saveList();
            }
            modified = false;
        }
        
        var timerStartStop = function (running) {
            autoSave = running;
            var buttons = dojo.query(".ctrlBtn");
            //buttons.attr("disabled", running);
            buttons.forEach(function(btn) { dijit.byNode(btn).attr("disabled", running);});
            if (timer.isRunning == running)
                return;     
            if (running) {
                timer.start();
                dojo.byId("btnHelp").innerHTML = "<img src='/images/help.png'> Para reabilitar os botões, desligue o salvamento automático";
            } else {
                timer.stop();         
                dojo.byId("btnHelp").innerHTML = ""; 
            }
            if (modified)
                setModified();
        }
    
        var setEvento = function(msg) {
            dojo.byId("eventReport").innerHTML = msg;
        }

        var selectingRow = null;  

        var setModified = function() {
            modified = true;
            if (timer.isRunning) {
                setEvento("Aguarde o salvamento automático");
            } else {
                setEvento("<img src='/images/information.png'> Eventos modificados, lembre-se de salvar!");        
            };
        };
        
        var onCellClick = function(node) {
            toggleCell(node, null, true);
            setModified();
        };       

        var onRowClicked = function(node) {
            dojo.toggleClass(node, "selected");
            dojo.query(".row_"+node.parentNode.rowIndex).forEach(function (cellNode) {
                toggleCell(cellNode, dojo.hasClass(node, "selected"), false);
            });
            setModified();
        };
       
        var onColumnClicked = function(node) {
            dojo.toggleClass(node, "selected");
            dojo.query(".column_"+node.cellIndex).forEach(function (cellNode) {
                toggleCell(cellNode, dojo.hasClass(node, "selected"), false);
            });
            setModified();
        };
          
        var toggleCell = function(node, state, anim) {
            if (state == null) {
                dojo.toggleClass(node, "clicked");
            } else {
                dojo.toggleClass(node, "clicked", state);
            };
            /*var htmlcontent = "Cell (" + 
              node.parentNode.rowIndex +"," +
              node.cellIndex +") clicked => ";*/
            
            if (dojo.hasClass(node, "clicked")) {
                if (anim) {
                    dojo.anim(node, { backgroundColor: "red"}, 1000);
                } else {
                    dojo.style(node, "backgroundColor", "red");
                };
            } else {
                if (anim) {
                    dojo.anim(node, { backgroundColor: "white"}, 1000);
                } else {
                    dojo.style(node, "backgroundColor", "white");
                };
            };
        };
        
        var reset = function () {    
            dojo.query('.clicked').forEach(function (node) {
                toggleCell(node, false, false);
            });
            modified = true;
            if (autoSave) {
                setEvento("Eventos apagados, salvando..."); 
                saveList();                
            } else {
                setEvento("Eventos apagados. Falta salvar.");
            };
        }
        
        var saveList = function () {
            setEvento("<img src=\"/images/loading.gif\"> Salvando...");
            var saveButton = dojo.byId("saveButton");
            var saveButtonDisabled = saveButton.hasAttribute("disabled");
            saveButton.setAttribute("disabled", "disabled");
            ids = dojo.query('.clicked').map(function (node) {
                return node.id
            });
            var timerRunning = timer.isRunning;
            timer.stop();
            modified = false;
            
            var contents = {};
            contents['action'] = 'saveList';
            contents['list'] = dojo.toJson(ids);
            contents['userID'] = "{{ user_id }}";
            dojo.xhrPost({ 
                url: "/horario",
                content: contents,
                load: function(data) {                         
                    if (!saveButtonDisabled) {
                        saveButton.removeAttribute("disabled");
                    };
                    if (timerRunning) {
                        timer.start()
                    };
                    if (modified) {
                        setModified();
                    } else {
                        setEvento("<img src=\"/images/accept.png\"> Eventos salvos.");
                    };
                },
                error: function(error) {                         
                    if (!saveButtonDisabled) {
                        saveButton.removeAttribute("disabled");
                    };
                    if (timerRunning) {
                        timer.start()
                    };
                    setEvento("Erro ao salvar (" + error + ")");
                }
            });    
        };
        
        var loadiCal = function() {
            //ical = "Fuck yeah"
            //dojo.byId("ical").innerHTML = "<p>" + ical + "</p>";
            var contents = {}
            contents['action'] = 'convertiCal';
            contents['userID'] = "{{ user_id }}";
            dojo.xhrPost({ 
                url: "/horario",
                content: contents,
                load: function(data) {
                    dojo.byId("ical").innerHTML = "<p>" + data + "</p>";
                },
                error: function(error) {
                    alert("Erro ao salvar (" + error + ")");
                }
            });                
        }
        
        var loadList = function () {
            var loadingNode = dojo.byId("loadingText");
            setEvento("<img src=\"/images/loading.gif\"> Carregando...");
            //dojo.fadeIn({node: loadingNode, duration: 1000}).play();
            dojo.xhrPost ({
                url: '/horario',
                handleAs: 'json', // IMPORTANT: tells Dojo to automatically parse the HTTP response into a JSON object
                content: {'action': 'getList', 'userID': "{{ user_id }}"},
                load: function (data) {
                      dojo.query('.clicked').forEach(function(node) {
                          toggleCell(node, false, false);
                      });
                      dojo.forEach(data, function (nodeID) {
                          node = dojo.byId(nodeID);
                          toggleCell(node, true, false);
                      });
                      setEvento("Eventos carregados");
                },
                error: function (error) {
                    console.error('Error: ', error);
                    setEvento("Erro ao carregar (" + error + ")");
                }
            });
        }    
        
        
        
        var isSelecting = false;

        var onTableMouseOut = function(node) {
            //isSelecting = false;
        }
           
        dojo.require("dojox.timing");
        dojo.require("dijit.form.Button");
        dojo.require("dijit.form.CheckBox");
        
        dojo.addOnLoad(function(){
            loadList();
            
            /*dojo.query(".cell").onclick(function(evt){
                //dojo.stopEvent(evt);
                onCellClick(evt.target);
            });*/
            
            timer = new dojox.timing.Timer(saveInterval);
            timer.onTick = timerTick;
            //timer.start();
            timerStartStop(true);
        });
    </script>
{% endblock %}
{% block body %}
    <h1>Editar horários</h1>
        
    <div id="rightSide">
    <table id="tableHours">
      <caption>Selecione seu horário abaixo:</caption>
      <thead>
        <tr>
          <th></th>
          {% for day in days_of_week %}
          <th scope="col" onclick='onColumnClicked(this);'>{{ day }}</th>
          {% endfor %}
        </tr>
      </thead>
      
      <tbody>
        {% for hour in hours %}
        <tr id="{{ hour }}" class="{% cycle odd,even %}">
          <td class="hourcell" onclick='onRowClicked(this);'>{{ hour }}:{% cycle 00,30 %}</td>  
          {% for day in days_of_week %}
          <td id="{{ forloop.counter0 }}_{{ forloop.parentloop.counter0 }}" 
            class="cell column_{{ forloop.counter }} row_{{ forloop.parentloop.counter }}" onclick='onCellClick(this);'></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>    
    </div>
    
    <div id="leftSide">
    
    <div style="margin:10px;">
        <input dojotype="dijit.form.CheckBox" type="checkbox" checked="true" onClick="timerStartStop(this.checked);">
            Salvar automaticamente
        </input>  
    </div>
    
    <div id="btnHelp" style="margin:10px; margin-top: 0px"></div>
    
    <button class="ctrlBtn" id="saveButton" dojotype="dijit.form.Button" onclick='saveList();' >
      Salvar
    </button>

    <button class="ctrlBtn" id="cancelButton" dojotype="dijit.form.Button" onclick='loadList();' >
      Cancelar
    </button>    
    
    <button class="ctrlBtn" dojotype="dijit.form.Button" onclick='reset();' >
      Apagar todos
    </button>    
    
    <div id="eventReport" style="margin:10px;">
      <p>Status</p>
    </div>

    <p id="loadingText" style="display: none;">Carregando compromissos... Por favor, aguarde.</p>
        
    <h3>Como utilizar:</h3>
    <p><img src="/images/asterisk_yellow.png"> Por demanda popular, agora é possível
    clicar na Hora ou no Dia e aquela coluna ou fileira será selecionada também</p>
    <p>Clique no horário que você deseja mudar para ocupado ou desocupado.<br>
    Os horários em vermelho estão ocupados, e os em branco estão desocupados.</p>
    <p>Quando você acabar de editar seus horários, clique em Salvar acima</p>
    <p>Se você fez um erro desde a última vez que salvou, clique em Cancelar
    que os horários antigos serão carregados.</p>
    <p>Clique em Apagar todos para mudar todos os horários para desocupados.
    Lembre-se de salvar depois de apagar todos</p>
    <p>Quando o modo de salvar automaticamente está ativo, a cada 5 segundos os eventos são salvados
    caso algum tenha sido modificado.</p>
    
    
    <button dojotype="dijit.form.Button" onclick="loadiCal();">Load iCall</button>
    
    <div id="ical">
        <p>iCal</p>
    </div>
    
    </div>
    
{% endblock %}
