{% extends "base.html" %}

{% block title %}{{ application_name }}{% endblock %}

{% block head %}
    <link href="/static/css/table.css" rel="stylesheet" type="text/css"/ >
    <script type="text/javascript">
    
    var setEvento = function(msg) {
      dojo.byId("eventReport").innerHTML = msg;
    }

    var selectingRow = null;  
        
    var onCellClick = function(node) {
      if (selectingRow != node.parentNode.rowIndex) {
          //return;
      };
      toggleCell(node, null, true);
    };
      
    var toggleCell = function(node, state, anim) {
      //dojo.query("[cellIndex='']")
      if (state == null) {
          dojo.toggleClass(node, "clicked");
      } else {
          dojo.toggleClass(node, "clicked", state);
      }
      /*var htmlcontent = "Cell (" + 
        node.parentNode.rowIndex +"," +
        node.cellIndex +") clicked => ";*/
      
      if (dojo.hasClass(node, "clicked")) {
          if (anim) {
              dojo.anim(node, { backgroundColor: "red"}, 1000);
          } else {
              dojo.style(node, "backgroundColor", "red");
          };
      } else {
          if (anim) {
              dojo.anim(node, { backgroundColor: "white"}, 1000);
          } else {
              dojo.style(node, "backgroundColor", "white");
          };
      };
    };
    
    function reset() {
    
      dojo.query('.clicked').forEach(function (node) {
          //dojo.anim(node, { backgroundColor: "white"}, 1000);
          toggleCell(node, false, false);
      })          
      //dojo.query('.clicked').toggleClass("clicked");
      //saveList();
      setEvento("Eventos apagados. Falta salvar.")
    }
    
    function saveList() {
      setEvento("Salvando...")
      dojo.byId("saveButton").setAttribute("disabled", "disabled");
      ids = dojo.query('.clicked').map(function (node) {
        return node.id
      })      
      
      var contents = {};
      //contents['clicked'] = clicked;
      //contents['id'] = node.id;
      contents['list'] = dojo.toJson(ids)
      dojo.xhrPost({ url: "/",
                       content: contents,
                       load: function(data) {                         
                          dojo.byId("saveButton").removeAttribute("disabled");
                          setEvento("");
                       }
                    });    
    }
    
    function loadList () {
        var loadingNode = dojo.byId("loadingText");
        setEvento("Carregando...");
        //dojo.fadeIn({node: loadingNode, duration: 1000}).play();
        dojo.xhrGet ({
            url: '/',
            handleAs: 'json', // IMPORTANT: tells Dojo to automatically parse the HTTP response into a JSON object
            content: {'action': 'getList'},
            load: function (data) {
                  dojo.query('.clicked').forEach(function(node) {
                      toggleCell(node, false, false);
                  });
                  dojo.forEach(data, function (nodeID) {
                      node = dojo.byId(nodeID);
                      toggleCell(node, true, false);
                  });
                  setEvento("Eventos carregados");
            },
            error: function (error) {
                console.error('Error: ', error);
            }
        });
    }    
    
    
    
    var isSelecting = false;

    var onTableMouseOut = function(node) {
      //isSelecting = false;
    }
    
    var onCellMouseOut = function(node) {
      dojo.toggleClass(node, "mousing", false);
    }
    
    var onCellMouseOver = function(node) {
      if (isSelecting) {
        if (!dojo.hasClass(node, "mousing")) {
          dojo.toggleClass(node, "mousing", true);
          onCellClick(node);
        }
      }    
    }
    
    var onCellMouseDown = function(node) {
      isSelecting = !isSelecting;
    }
    
    var onCellMouseUp = function(node) {
    //  isSelecting = false;    
    }
    
    var init = function(){
      loadList();
    };
    
    dojo.addOnLoad(init);
    </script>
{% endblock %}
{% block body %}
    <h1>Horário</h1>
    
    <p><p>
    
    
    <div style="float: left;">
    <table id="tableHours" border=0  onmouseout='onTableMouseOut(this);'>
      <caption>Selecione seu horário abaixo:</caption>
      <thead>
        <tr>
          <th></th>
          {% for day in days_of_week %}
          <th scope="col">{{ day }}</th>
          {% endfor %}
        </tr>
      </thead>
      
      <tbody>
        {% for hour in hours %}
        <tr id="{{ hour }}" class="{% cycle odd,even %}">
          <td class="hourcell">{{ hour }}:{% cycle 00,30 %}</td>  
          {% for day in days_of_week %}
          <td id="{{ forloop.counter0 }}_{{ forloop.parentloop.counter0 }}" class="cell" onclick='onCellClick(this);''></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>    
    </div>
    <div style="float: left; padding: 10px; text-align: left; max-width: 500px;">
    
    <button id="saveButton" dojotype="dijit.form.Button" onclick='saveList();' >
      Salvar
    </button>

    <button dojotype="dijit.form.Button" onclick='loadList();' >
      Cancelar
    </button>    
    
    <button dojotype="dijit.form.Button" onclick='reset();' >
      Apagar todos
    </button>    
    
    <div id="eventReport">
      <p>Event reporter</p>
    </div>

    <p id="loadingText" style="display: none;">Carregando compromissos... Por favor, aguarde.</p>
        
    <h3>Como utilizar:</h3>
    <p>Clique no horário que você deseja mudar para ocupado ou desocupado.<br>
    Os horários em vermelho estão ocupados, e os em branco estão desocupados.</p>
    <p>Quando você acabar de editar seus horários, clique em Salvar acima</p>
    <p>Se você fez um erro desde a última vez que salvou, clique em Cancelar
    que os horários antigos serão carregados.</p>
    <p>Clique em Apagar todos para mudar todos os horários para desocupados.
    Lembre-se de salvar depois de apagar todos</p>
    
    
    </div>
    
{% endblock %}
